/* Кнопка "Перейти" */
td:has(a[href*=\/servers\/]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(222, 26%, 15%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-log-in'><path d='M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4'/><polyline points='10 17 15 12 10 7'/><line x1='15' x2='3' y1='12' y2='12'/></svg>");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position-x: right;
  background-position-y: center;
  background-color: #22293b;
  background-clip: padding-box;
  transition: all 200ms;
}
td:has(a[href*=\/servers\/]):hover {
  background-color: hsl(223, 25%, 24%);
  background-size: 2.6rem;
}

/* Кнопки сверху */
div.w-full.rounded-lg.flex.items-center.gap-6.px-6 > a[class="text-white"] {
  padding: 0.5rem;
  background-color: #1c2230;
  border-radius: 5px;
}
div.w-full.rounded-lg.flex.items-center.gap-6.px-6 > a[class="text-white"]:hover {
  background-color: #293041;
}
div[class~="rounded-lg"]:has(a[class="text-white"]) {
  padding: 0 0.5rem;
  gap: 0.5rem;
}

/* Панель "Информация о сервере" */
.w-full.flex.items-center.justify-between.py-2 {
  padding: 0.25rem 0.5rem !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Улучшение панели "Консоль" и "latest.log" */
div#console, p#latestlog {
  font-family: "Cascadia Code", monospace !important;
  padding: 0.25rem !important;
  background-color: #1c2230;
  border: solid 1rem #22293b !important;
  border-radius: 1.2rem !important;
  white-space: nowrap;
  overflow: auto;
}
div#console * {
  font-family: inherit;
}
div:has(> div#console) {
  transition: all 0ms, transform 200ms;
  position: relative;
}
div.w-full.flex.items-end.overflow-y-auto.rounded-lg:has(p#console),
div.w-full.flex.items-end.overflow-y-auto.rounded-lg:has(p#latestlog) {
  overflow-y: none !important;
}
div:has(> div#console).expanded {
  position: absolute !important;
  width: 80%;
  height: 80%;
  transform: translate(-60%, -10%) !important;
  filter: drop-shadow(0 .5rem 1rem #000) !important;
  resize: both;
  transition: filter 200ms;
  /*! left: 0; */
  animation-name: consoleExpand;
  animation-duration: 200ms;
}

/* Панель "Нагрузка на ноды" */
.p-4.rounded-lg.flex.flex-col {
  padding: 0 !important;
}
.p-4.rounded-lg.flex.flex-col > * {
  flex: 1 1 60px !important;
}
.grid.grid-cols-6.items-center.px-4.justify-between[class*=" "]:nth-child(even) {
  background-color: #fff1 !important;
}
.grid.grid-cols-6.items-center.px-4.justify-between[class*=" "]:nth-child(even)[class*="bg-green-500/[.05]"] {
  background-color: #0f01 !important;
}

/* Панель "Перенос сервера" */
.flex.items-end {
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
}
.flex.items-end > div:has(select) {
  padding: 0.5rem;
  background-color: #fff1;
  border-radius: 5px;
  flex-grow: 1;
}
.flex.items-end > div:has(button) {
  margin-bottom: auto;
}
form.p-4.rounded-lg {
  padding: 0.5rem !important;
}

/* Панель "Файлы сервера" */
div.p-4.rounded-lg:has(a.w-full.grid.grid-cols-5.items-center.px-4[href*="files"]) {
  display: flex;
  flex-direction: column;
  padding: 0.5rem !important;
  gap: 0.25rem;
}

a.w-full.grid.grid-cols-5.items-center.px-4[href*="files"] {
  border-radius: 0.25rem;
  background-color: #1c2230;
  border-bottom: solid 1px #fff2 !important;
  height: 36px !important;
}

@keyframes consoleExpand {
  from {
    height: 40%;
  }
  
  to {
    height: 80%;
  }
}
