/* Сообщение о статусе */
.statusMsg {
  padding: 1rem 2rem;
  display: flex;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

/* Кнопка "Перейти" */
td:has(a[href*=\/servers\/]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(222, 26%, 15%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-log-in'><path d='M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4'/><polyline points='10 17 15 12 10 7'/><line x1='15' x2='3' y1='12' y2='12'/></svg>");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position-x: right;
  background-position-y: center;
  background-color: #22293b;
  background-clip: padding-box;
  transition: all 200ms;
}
td:has(a[href*=\/servers\/]):hover {
  background-color: hsl(223, 25%, 24%);
  background-size: 2.6rem;
}

/* Кнопки сверху */
div.w-full.rounded-lg.flex.items-center.gap-6.px-6 > a[class="text-white"] {
  padding: 0.5rem;
  background-color: #1c2230;
  border-radius: 5px;
}
div.w-full.rounded-lg.flex.items-center.gap-6.px-6 > a[class="text-white"]:hover {
  background-color: #293041;
}
div[class~="rounded-lg"]:has(a[class="text-white"]) {
  padding: 0 0.5rem;
  gap: 0.5rem;
}

/* Панель "Информация о сервере" */
.w-full.flex.items-center.justify-between.py-2 {
  padding: 0.25rem 0.5rem !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Улучшение панели "Консоль" и "latest.log" */
div#console, p#latestlog {
  font-family: "Cascadia Code", monospace !important;
  padding: 0.25rem !important;
  background-color: #1c2230;
  border: solid 1rem #22293b !important;
  border-radius: 1.2rem !important;
  white-space: nowrap;
  overflow: auto;
}
div#console * {
  font-family: inherit;
}
div:has(> div#console) {
  position: relative;
}
div.w-full.flex.items-end.overflow-y-auto.rounded-lg:has(p#console),
div.w-full.flex.items-end.overflow-y-auto.rounded-lg:has(p#latestlog) {
  overflow-y: none !important;
}
div:has(> div#console).expanded {
  position: absolute !important;
  width: 80%;
  min-width: 45rem;
  max-width: 98%;
  height: 80%;
  min-height: 30rem;
  max-height: 160%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0) !important;
  filter: drop-shadow(0 .5rem 1rem #000) !important;
  resize: both;
  transition: filter 200ms;
  animation: consoleExpand 200ms;
}
.consoleExpandToggle {
  position: absolute;
  left: unset;
  right: 2rem;
  top: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

/* Панель "Нагрузка на ноды" */
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) {
  grid-template-rows: auto;
  grid-template-columns: unset;
  gap: 1rem;
}
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) > div:first-child {
  width: max-content;
}

.p-4.rounded-lg.flex.flex-col {
  width: max-content;
  padding: 0 !important;
}
.p-4.rounded-lg.flex.flex-col > * {
  flex: 1 1 60px !important;
}
.grid.grid-cols-6.items-center.px-4.justify-between:first-child {
  border-radius: .5rem .5rem 0 0;
  background-color: transparent;
}
.grid.grid-cols-6.items-center.px-4.justify-between:last-child {
  border-radius: 0 0 .5rem .5rem;
}
.grid.grid-cols-6.items-center.px-4.justify-between:nth-child(even) {
  background-color: #fff1 !important;
}
.grid.grid-cols-6.items-center.px-4.justify-between:nth-child(even):hover {
  background-color: #ffffff1a !important;
}
.grid.grid-cols-6.items-center.px-4.justify-between:nth-child(even)[class*="bg-green-500/[.05]"] {
  background-color: #0f01 !important;
}

/* Панель "Перенос сервера" */
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) > div:first-child > form .flex.items-end {
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
}
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) > div:first-child > form .flex.items-end > div:has(select) {
  padding: 0.5rem;
  background-color: #fff1;
  border-radius: 5px;
  flex-grow: 1;
}
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) > div:first-child > form .flex.items-end > div:has(button) {
  margin-bottom: auto;
}
.p-6.w-full.grid.grid-cols-2.gap-\[50px\]:has(div:first-child > form .flex.items-end) > div:first-child > form {
  padding: 0.5rem !important;
}

/* Панель "Файлы сервера" */
.bg-\[\#22293b\].p-4.rounded-lg:has(*[href*="/files"]) {
  display: flex;
  flex-direction: column;
  padding: 0.5rem !important;
  gap: 0.25rem;
}

.bg-\[\#22293b\].p-4.rounded-lg > *[href*="/files"] {
  padding: 0 0.6rem;
  border-radius: 0.25rem;
  background-color: #1c2230;
  border-bottom: solid 1px #fff2;
  height: 36px;
}

.bg-\[\#22293b\].p-4.rounded-lg > p {
  align-content: center;
  margin: unset;
}

.bg-\[\#22293b\].p-4.rounded-lg > div:first-of-type {
  background-color: #22293b;
  border-bottom: none;
}

.bg-\[\#22293b\].p-4.rounded-lg > * .min-w-\[50px\] {
  min-width: 22px;
  margin-right: -10px; 
}

.bg-\[\#22293b\].p-4.rounded-lg p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

/* Избранные сервера */
#favServerWrapper {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
#favServerWrapper > a {
  background: #22293b;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  border-bottom:  solid 1px #fff2 !important;
}
#favServerWrapper > a:hover {
  background: #fff1;
}
#favServerWrapper > p {
  padding: 0.125rem 0;
  margin-right: 0.25rem;
}
button[onclick="favClicked(this)"] {
  position: absolute;
  transform: translate(-1.7em);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='gold' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-star'><polygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'/></svg>");
  height: 100%;
  width: 24px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: #ffffff05;
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}


/* Анимации */
@keyframes consoleExpand {
  from {
    opacity: 0;
    height: 40%;
  }
  
  to {
    opacity: 1;
    height: 80%;
  }
}

@keyframes consoleShrink {
  from {
    transform: translateX(-60%);
    width: 160%;
    height: 500px;
  }
  
  to {
    transform: translateX(0%);
    width: 100%;
    height: 500px;
  }
}


/* Страница входа */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    transition: all 0ms;
}
body {
    background-color: #1b2230;
    height: 100vh;
}
.form-signin {
    height: 100%;
}
.form-signin>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;
    vertical-align: top;
}
.form-signin>form>img {
    margin-top: 5rem;
    content: url(https://minecraft.rent/static/images/af0cdf2928908a72d447.png);
    width: 5rem;
    height: 5rem;
}
.form-signin>form>h1 {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.btn-primary {
    font-size: 1rem;
    padding: .5rem 2rem;
    background-color: #285dff;
    border: none;
    border-bottom: 1px solid #fff2;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-primary:hover {
    background-color: #2840ff;
    border-bottom: 1px solid #fff3;
}
.form-group>label {
    display: none;
}
.form-control {
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: .5rem;
    background-color: #2b3342;
    border: none;
}
.form-control:autofill {
    border-bottom: 1px solid #fff1;
    margin-bottom: -1px;
    background-color: #00f !important;
}

/* TODO найти подходяющую категорию */
.w-full.h-\[60px\].bg-\[\#22293b\].rounded-lg.flex.items-center.gap-6.px-6 {
  flex-wrap: wrap;
  height: max-content;
  padding: 10px;
}

/* мобилка */
@media (max-width: 600px) {
  .p-6.w-full.grid.grid-cols-2.gap-\[50px\] {
    grid-template-rows: auto;
    grid-template-columns: unset;
    gap: 1rem;
  }
  .p-6.w-full.grid.grid-cols-2.gap-\[50px\] > * {
    max-width: 90dvw
  }
  .consoleExpandToggle, #favServerWrapper {
    display: none
  }
  .min-w-\[300px\].h-screen {
    display: none;
    width: 0;
  }
}
